<div class="row">
  <div data-ng-if="$ctrl.foundItems.length === 0">
    <br>
    Nothing found
  </div>
  <table class="table table-striped table-bordered" data-ng-if="$ctrl.foundItems.length > 0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Short Name</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="item in $ctrl.foundItems">
        <td>
          {{ item.name }}
        </td>
        <td>
          {{ item.short_name }}
        </td>
        <td>
          {{ item.description }}
        </td>
        <td>
          <button class="btn btn-danger btn-xs"
                  data-ng-click="$ctrl.onRemove({ itemIndex: $index })">
                  Don't want this one!
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
