<!-- home.template.html -->
<section>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Welcome Home</h3>
    </div>
    <div class="panel-body">
      <p>
        May we bid you a warm welcome to the {{ mac.restaurant.name }}.
      </p>
      <p>
        Please take a moment to browse our mouth-watering <a ui-sref="categories">Dish Categories</a>.
      </p>
    </div>
  </div>

  <div class="alert alert-info" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Info:</span>
    Book early to avoid disappointment - this place is literally buzzing with diners!
  </div>
  
  <img class="img-responsive"
       alt="Image: tell your friends!"
       width="440"
       height="440"
       src="assets/img/flies-troublesome.jpg">
</section>
